<div class="headline">
    Unlocking a World of Seamless Cross-Border Payments!
</div>
<div class="description">
    FinEdge is a visionary fintech company which Redefines cross-border payments, empowering individuals and businesses to transcend geographic boundaries for seamless transactions in a connected world. 
    
</div>

<style>
    .headline{
        display: grid;
        place-items: center;
        font-size: 72px;
        font-weight: bold;
        background: -webkit-linear-gradient(#eee, #080c94);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
    }
    .description{
        margin-top: 1.5rem;
        font-size: 20px;
        text-align: center; 
        line-height: 2rem;
        color: #000232;
    }

    


    @media (width < 600px){
        .headline {
            font-size: 5vw        
        }
        .description{
            font-size: 1.5vh;
            line-height: 1.2rem;
        }
    }
    @media (width < 700px){
        .headline{
            font-size: 30px;
        }
        .description{
            font-size: 12px;
            line-height: 1rem;
        }
    }

    @media (width < 400px){
        .headline{
            font-size: 20px;
        }
        .description{
            margin-top: 1.2rem;
            font-size: 8px;
            line-height: .8rem;
        }
    }
</style>